   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link rel="stylesheet" href="/update_employee.css">
    <div class="container">
     <div class="row" id="mainrow">
       <div class="col-md-9" style="background-color: rgb(234, 245, 248);opacity: 0.9;">
         <span class="glyphicon glyphicon-remove"></span>
         <h1 class="title">Update Employee details</h1>
          <form action="/users/updated/<%= employee.id %>" method="POST" autocomplete="off" style="margin-top: -20px;">
            <div class="form-row">
             <div class="form-group col-md-6">
                <label>Full Name</label>
                <input type="text" class="form-control" name="fullname" placeholder="Employee Full Name" required value="<%= employee.fullname %>">       
             </div>
             <div class="form-group col-md-6">
                <label>Email</label>
                <input type="email" class="form-control" name="email" placeholder="Employee email" required value="<%= employee.email %>">       
              </div>
           </div>
           <div class="form-row">
             <div class="form-group col-md-6">
                <label>Phone Number</label>
                <input type="text" class="form-control" name="mobile" placeholder="Employee Phone Number" required value="<%= employee.mobile %>">       
             </div>
             <div class="form-group col-md-6">
                <label>Joining Date</label>
                <input type="date" class="form-control" name="dateofjoining" placeholder="Employee Joining Date" required value="<%= employee.dateofjoining %>">       
             </div>
           </div>
           <div class="form-group ">
              <label>Address</label>
              <input type="text" class="form-control" name="address" placeholder="Employee Address" required value="<%= employee.address %>">       
           </div>
           <div class="form-row">
             <div class="form-group col-md-6">
                <label for="exampleFormControlSelect1">Department</label>
                <select class="form-control" id="exampleFormControlSelect1" name="department" value="<%= employee.department %>">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                </select>       
             </div>
             <div class="form-group col-md-6">
                <label>Manager Name</label>
                <input type="text" class="form-control" name="manager" placeholder="Manager Name" required value="<%= employee.manager %>">       
             </div>
           </div>
           <div class="form-row">
             <fieldset class="form-group col-md-6">
               <div class="row">
                 <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
                 <div class="col-sm-10">  
                   <div class="form-check">
                      &nbsp;
                      <input class="form-check-input" type="radio" name="gender" id="gridRadios1" value="Male" >
                      <label class="form-check-label" for="gridRadios1">
                       Male
                      </label>
                   </div>
                   <div class="form-check">
                      &nbsp;
                      <input class="form-check-input" type="radio" name="gender" id="gridRadios2" value="Female" >
                      <label class="form-check-label" for="gridRadios2">
                       Female
                      </label>
                   </div>
                   <div class="form-check ">
                      &nbsp;
                      <input class="form-check-input" type="radio" name="gender" id="gridRadios3" value="Other"  >
                      <label class="form-check-label" for="gridRadios3">
                       Other
                      </label>
                   </div>
                 </div>
               </div>
             </fieldset>
             <fieldset class="form-group col-md-6">
               <div class="row">
                 <legend class="col-form-label col-sm-2 pt-0">Employment Status</legend>
                 <div class="col-sm-10">
                   <div class="form-check">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <input class="form-check-input" type="radio" name="employmentstatus" id="gridRadios1" value="Full Time" >
                      <label class="form-check-label" for="gridRadios1">
                       Full Time
                      </label>
                   </div>
                   <div class="form-check">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <input class="form-check-input" type="radio" name="employmentstatus" id="gridRadios2" value="Part Time" >
                      <label class="form-check-label" for="gridRadios2">
                       Part Time
                      </label>
                   </div>
                 </div>
               </div>
             </fieldset>
           </div>
           <div class="form-group col-md-6">
              <label>Salary</label>
              <input type="text" class="form-control" name="salary"  required value="<%= employee.salary %>">       
           </div>
           <div>
             <div class="form-group">
              <button type="submit" class="btn btn-warning" style="font-size: 20px; font-family: Arial, Helvetica, sans-serif;"> &nbsp;Save</button>
             </div>
           </div>
          </form>
       </div>
       <div class="col-md-3" style="padding-top: 20%;text-align: center;">
         <div style="text-align: center;color: rgb(235, 126, 99);opacity: 1;background-color: rgb(252, 249, 252); border-radius: 25px;">
           <h5>
             here you can manage your employee record
           </h5>
           <h4>
             easy to create,delete and update
           </h4>
         </div>
         <br>
         <br>
         <div style="text-align: center;">
         <a href="/users/profile" class="btn btn-dark btn-lg" style="text-align: center; font-size: 25px; padding-left: 1%;">
           <span> <i class="fa fa-hand-o-left fa-1x" aria-hidden="true"> </i></span> BACK 
         </a>
         </div>
       </div>
     </div>
    </div>
  





<!-- <html>
   <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><%= title %></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
     .title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    line-height: 48px;
    padding-bottom: 48px;
       color: #5543ca;
      background: #5543ca;
      background: -moz-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
      background: -webkit-linear-gradient(left,#f4524d  0%,#5543ca 100%) !important;
      background: linear-gradient(to right,#f4524d  0%,#5543ca  100%) !important;
     -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
  }
    </style> 
  </head>
   <body>
         <div class="row">
         <div class="col-md-6 offset-md-3" style="background-color: lightblue; margin-top: 30px; padding: 20px;">
          
          <h1 class="title">Insert Employee details</h1>
          <form action="/users/updated" method="POST" autocomplete="off">
            <input type="hidden" name="_id" value="<%= employee._id %>">
            <div class="form-row">
            <div class="form-group col-md-6">
              <label>Full Name</label>
              <input type="text" class="form-control" name="fullname" placeholder="Employee Full Name" required value="<%= employee.fullname %>">       
            </div>
            <div class="form-group col-md-6">
             <label>Email</label>
             <input type="email" class="form-control" name="email" placeholder="Employee email" required value="<%= employee.email %>">       
            </div>
            </div>
          <div class="form-row">
           <div class="form-group col-md-6">
             <label>Phone Number</label>
             <input type="text" class="form-control" name="mobile" placeholder="Employee Phone Number" required value="<%= employee.mobile %>">       
           </div>
           <div class="form-group col-md-6">
            <label>Joining Date</label>
            <input type="date" class="form-control" name="dateofjoining" placeholder="Employee Joining Date" required value="<%= employee.dateofjoining %>">       
          </div>
          </div>
           <div class="form-group ">
             <label>Address</label>
             <input type="text" class="form-control" name="address" placeholder="Employee Address" required value="<%= employee.address %>">       
           </div>
           <div class="form-row">
           <div class="form-group col-md-6">
              <label for="exampleFormControlSelect1">Department</label>
              <select class="form-control" id="exampleFormControlSelect1" name="department" value="<%= employee.department %>">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>       
           </div>
           <div class="form-group col-md-6">
             <label>Manager Name</label>
             <input type="text" class="form-control" name="manager" placeholder="Manager Name" required value="<%= employee.manager %>">       
           </div>
          </div>
          <div class="form-row">
          <fieldset class="form-group col-md-6">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Gender</legend>
              <div class="col-sm-10">
                
                <div class="form-check">
                  &nbsp;
                  <input class="form-check-input" type="radio" name="gender" id="gridRadios1" value="Male" value="<%= employee.gender %>">
                  <label class="form-check-label" for="gridRadios1">
                    Male
                  </label>
                </div>
                <div class="form-check">
                  &nbsp;
                  <input class="form-check-input" type="radio" name="gender" id="gridRadios2" value="Female" value="<%= employee.gender %>">
                  <label class="form-check-label" for="gridRadios2">
                    Female
                  </label>
                </div>
                <div class="form-check ">
                  &nbsp;
                  <input class="form-check-input" type="radio" name="gender" id="gridRadios3" value="Other" value="<%= employee.gender %>" >
                  <label class="form-check-label" for="gridRadios3">
                    Other
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="form-group col-md-6">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Employment Status</legend>
              <div class="col-sm-10">
                <div class="form-check">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input class="form-check-input" type="radio" name="employmentstatus" id="gridRadios1" value="Full Time" value="<%= employee.employmentstatus %>">
                  <label class="form-check-label" for="gridRadios1">
                    Full Time
                  </label>
                </div>
                <div class="form-check">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <input class="form-check-input" type="radio" name="employmentstatus" id="gridRadios2" value="Part Time" value="<%= employee.employmentstatus %>">
                  <label class="form-check-label" for="gridRadios2">
                    Part Time
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
          </div>
           <div class="form-group col-md-6">
             <label>Salary</label>
             <input type="text" class="form-control" name="salary"  required value="<%= employee.salary %>">       
           </div>
           <div>
             <div class="form-group">
               <button type="submit" class="btn btn-success" style="font-size: 20px; font-family: Arial, Helvetica, sans-serif;"><i class="fa fa-database fa-2x" aria-hidden="true"></i> &nbsp;Update</button>
             </div>
           </div>
          </form>
         </div>
       </div>
   </body>
</html>-->